<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}">	

	<body>
		<div layout:fragment="content">
			<div>			
				<img th:src="@{/imagens/bf_iconeUsuario.png}" id="imgUsuario">
				
				<h1>Login</h1>
				
				<form method="post" action="">
					<fieldset style="background-color: #7bc2e5"><br>
						<input type="text" name="email" placeholder="E-mail">
						<input type="password" name="senha" placeholder="Senha">
						<input type="button" value="Entrar"	onclick="location.href='clienteHome.html';">
					</fieldset>
				</form><br>
				
				<div id="msgErro">Mensagem de erro</div><br> 
				
				
				<form method="get" th:action="@{/public/cliente/new}">					
					<input type="submit" value="Novo Cliente"> <br>
				</form>
				
				<input type="button" value="novo Restaurante" onclick="location.href='restauranteCadastro.html';">
			</div>
		</div>
	</body>
</html>
